/*

---- Media queries ----
bureau > 992px
tablette > 768px
mobile < 768px

---- Couleur ----
bleu : #0065FC
bleu clair : #DEEBFF
gris background : #F2F2F2

---- Police ----
Raleway


  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Raleway", sans-serif;
  width: 992px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  height: 110px;
  align-items: center;
}

.logo {
  height: 50px;
}

.ul-navbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  gap: 60px;
  margin-right: 60px;
}

.slogan {
  margin: 30px;
}

.slogan-titre {
  margin-bottom: 5px;
}

.btn-recherche {
  margin: 30px;
}

.filtres {
  margin: 30px;
  display: flex;
  gap: 30px;
}

.resultats-recherche {
  margin: 30px;
}

.container-principal {
  margin: 30px;
  width: 932px;
  display: flex;
  justify-content: space-between;
}

.cadre {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 30px;
}

.cadre-hebergements {
  width: 600px;
}

.cadre-les-plus-populaires {
  width: 300px;
}

.cadre-contenu-hebergements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  margin: 30px 0px;
}

.carte-container-hebergements {
  background-color: #fff;
  border-radius: 20px;
  width: 160px;
  height: 130px;
}

.carte-container-les-plus-populaires {
  background-color: #fff;
  border-radius: 20px;
  width: 240px;
  height: 100px;
}

.cadre-contenu-les-plus-populaires {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px 0px;
}

.container-activites {
  margin: 30px;
}

.cadre-activites {
  display: flex;
  justify-content: space-between;
}

.colonne {
  display: flex;
  margin-top: 30px;
  width: 210.5px;
  height: 330px;
  justify-content: space-between;
  flex-direction: column;
}

.carte-activites-1,
.carte-activites-4 {
  height: 330px;
  border-radius: 20px;
  box-shadow: 0px 10px 13px -7px #000000, 0px 19px 17px 14px rgba(0, 0, 0, 0.02);
}

.carte-activites-2 {
  height: 195px;
  border-radius: 20px;
  box-shadow: 0px 10px 13px -7px #000000, 0px 19px 17px 14px rgba(0, 0, 0, 0.02);
}

.carte-activites-3 {
  height: 105px;
  border-radius: 20px;
  box-shadow: 0px 10px 13px -7px #000000, 0px 19px 17px 14px rgba(0, 0, 0, 0.02);
}

.carte-activites-5 {
  height: 135px;
  border-radius: 20px;
  box-shadow: 0px 10px 13px -7px #000000, 0px 19px 17px 14px rgba(0, 0, 0, 0.02);
}

.carte-activites-6 {
  height: 165px;
  border-radius: 20px;
  box-shadow: 0px 10px 13px -7px #000000, 0px 19px 17px 14px rgba(0, 0, 0, 0.02);
}

.footer {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  gap: 30px;
  justify-content: space-around;
}

.footer-colonne-1,
.footer-colonne-2,
.footer-colonne-3 {
  margin-top: 30px;
  margin-bottom: 40px;
}

.list-nav {
  list-style: none;
}
